<!DOCTYPE html>
<html lang="en">

<head>
    <%- await include('../partials/head.ejs') %>
</head>

<body class="" style="background-color: #C0C0C0;">
    <header>
        <%- await include('../partials/header') %>
    </header>
    <main>
        <div class="jumbotron">

            <table class='table'>
                <thead>
                    <tr>
                        <th>Summoner</th>
                        <th>Rank</th>
                        <th>W</th>
                        <th>L</th>
                    </tr>
                </thead>
                <tbody>
                    <% summoners.forEach((summoner, idx) => { %>
                        <tr>
                            <td>
                                <img src=<%='http://ddragon.leagueoflegends.com/cdn/12.2.1/img/profileicon/'+summoner.profileIconId+'.png'%> width=40></img>
                                <%= summoner.name %>
                            </td>
                            <td>
                                <img src=<%='/img/rankedEmblems/' + ranks[idx].solo.tier + '.png'%> width=35></img>
                                <% if(ranks[idx].solo.tier === 'UNRANKED') { %>
                                    UNRANKED
                                <% } else { %>
                                    <%= ranks[idx].solo.tier + ' ' + ranks[idx].solo.rank + ' - ' + ranks[idx].solo.leaguePoints + ' LP' %>
                                <% } %>
                            </td>
                            <td>
                                <%= ranks[idx].solo.wins %>
                            </td>
                            <td>
                                <%= ranks[idx].solo.losses %>
                            </td>
                        </tr>
                    <% }); %>
                    
                </tbody>
            </table>
        </div>
    </main>
    
    <footer>
        <%- await include('../partials/footer') %>
    </footer>
</body>

</html>